html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	font-family: 'Roboto';
}
#game {
	background: #444;
	width: 75vw;
	height: 100vh;
}

#side {
	color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	background: #000;
	width: 25vw;
	height: 100vh;
}

#side h1 {
	text-align: center;
	font-size: 2em;
}

.panel {
	background: #222;
	width: 100%;
}

.right {
	position: absolute;
	right: 1em;
	margin: auto;
}

header {
	width: 100%;
	background: #333;
	padding: 0.5em;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
}

.panel p {
	margin: 0;
	padding: 0.5em;
}

#canvas {
	background: #444;
	top: 0;
	left: 0;
	position: fixed;
	width: 75vw;
	height: 100%;
}

#buyTowerButton {
	background: #555;
	text-align: center;
	padding: 0.5em;
	font-size: 1.5em;
	font-weight: bold;
}

#buyTowerButton:hover {
	background: #999;
}

#upgrades {
}

.desc {
	padding: 0.5em;
}

.upgrade {
	padding: 0.5em;
}

.upgrade div {
	display: inline-block;
}

.upgrade .name {
}

.upgrade .icon {
	display: inline-block;
	font-size: 2em;
	width: 1.5em;
}

.upgrade .cost {
	position: absolute;
	right: 1em;
	margin: auto;
}

.upgrade:nth-child(odd) {
	background: #2a2a2a;
}

.upgrade:hover {
	background: #333;
}