html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	font-family: 'Roboto';
}
#game {
	background: #444;
	width: 100%;
	height: 100vh;
}

#side {
	color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	background: #000;
	width: 25em;
	height: 100vh;
}

#side h1 {
	text-align: center;
	font-size: 3em;
}

.panel {
	background: #222;
}

#selectPanel {
	height: 20em;
}

#towerPanel {
	height: 10em;
}

#moneyVal {
	position: absolute;
	right: 1em;
	margin: auto;
}

header {
	width: 100%;
	background: #333;
	padding: 0.5em;
	font-size: 1.5em;
	font-weight: bold;
}

.panel section {
	padding: 1em;
}

.panel section #description {
	width: 50%;
	display: inline-block;
	overflow: auto;
	max-height: 14em;
}

.panel section #values {
	width: 50%;
	display: inline-block;
	float: right;
	font-size: 2em;
}

.panel section #values table {
	padding: 1em;
}